header nav{
    background-color: chocolate;
}

header .nav-link{
    color: white;
}

#list button{
    background-color: chocolate;
    color: white;
    border-radius: 2em;
    border: none;
}

body{
    font-family: 'Roboto', sans-serif !important;
}


#btnsTop button{
    background-color: white;
    color: chocolate;
    border-radius: 2em;
    border: none;
}

#btnsTop .hide{
    display: none;
}

form button{
    background-color: chocolate;
    color: white;
    border-radius: 2em;
    border: none;
   
}

form input[type="text"]:valid{
    border-color: lightgreen;
}

form textarea:valid{
    border-color: lightgreen;
}

form input[type="text"]:invalid{
    border-color: red;
}

form textarea:invalid{
    border-color: red;
}

form label,.icon{
    display: inline-block;
}


input:invalid + span::before {
    content: "✖";
    color: red;
  }
  
  input:valid + span::before {
    content: "✓";
    color: green;
  }

  form input + span{
    position: relative;
  
  }

  form input + span::before {
    position: absolute;
    right: -20px;
    top: -3px;
    
  }

  textarea:invalid + span::before {
    content: "✖";
    color: red;
  }
  
  textarea:valid + span::before {
    content: "✓";
    color: green;
  }

  form textarea + span{
    position: relative;
  
  }

  form textarea + span::before {
    position: absolute;
    right: -20px;
    top: -3px;
    
  }

  form{
    padding-right: 30px;
    padding-left: 15px;
  }

  header img{
    height: 60px;
    width: auto;
  }

  .progress{
    --bs-progress-bar-bg: #00ff00 !important;
  }

  .card{
    --bs-card-border-color: chocolate !important;
  }

  #confirm{
    background-color: chocolate;
    color: white;
  }
  
  .modal-content{
    --bs-modal-border-color: chocolate;
  }

  .modal-footer{
    --bs-modal-footer-border-color: chocolate;
  }

  .modal-header{
    --bs-modal-header-border-color: chocolate;
  }
 